{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron" style="text-align: center; background-image: url(/static/img/Project29.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%;">
	<br><br><br><br>
	<h1 style="color: white;">About</h1>
	<br><br>
	<br><br>
	<br><br>
</div>

<div class="container">
	<br>
	<h1>About Us</h1>
	<p style="text-align: justify;">Intellect Africa Group is a holding company based in Johannesburg, operating across all nine (9) provinces in South Africa, Southern Africa and beyond. It is within our philosophy that we pursue opportunities in the local and regional markets, both independently and in association with our strategic partners. Our focus is to provide home improvements, facilities management, road construction and IT services to a broad range of needs, sectors and budgets. We consistently apply innovative methods to ensure that we provide first class services to our clients whether on small or big projects.

At Intellect Africa Group we strongly understand that infrastructure and information technology play a critical role to the economy, society and environment. It is our commitment to ensure that we integrate the three in our business operations.</p>
</div>



<div class="jumbotron" style="background: black;">
			<div class="row">
			<div class="col">
				<h3 style="text-align: justify; color: white;">Vision</h3>
				<p style="text-align: justify; color: white;">To provide integrated services to our clients through the attraction of different professionals, technicians and graduates.</p>
				<br><br>
				<h3 style="text-align: justify; color: white;">Mission</h3>
				<p style="text-align: justify; color: white;">To provide our clients with the highest level of quality services at fair and competitive prices, and ultimately guaranteeing our clients top of the range services.</p>
				<br><br>
				<h3 style="text-align: justify; color: white;">Our Values</h3>
				<li style="text-align: justify; color: white;">Accountability</li>
				<li style="text-align: justify; color: white;">Integrity</li>
				<li style="text-align: justify; color: white;">Innovative</li>
				<li style="text-align: justify; color: white;">Teamwork</ul>
				
			</div>	


			<div class="col">
				<h3 style="color: white; text-align: justify;">Why Choose us?</h3><br>
					<h3 style="color: white; text-align: justify;">Quality Assurance</h4>
					<p style="color: white; text-align: justify;">We have a team of qualified and experience technicians, graduates and professionals who takes pride of the work they do.</p>
					<br>
					<h3 style="color: white; text-align: justify;">Guarantee</h3>
					<p style="color: white; text-align: justify;">For all our workmanship, we issue a satisfaction guarantee.</p>
					<br>
					<h3 style="color: white; text-align: justify;">Competitive Pricing

				</h3>
					<p style="color: white; text-align: justify;">We charge competitive prices without compromising on the quality of our work.</p>
					<br>
					<h3 style="color: white; text-align: justify;">Safety First</h3>
					<p style="color: white; text-align: justify;">We respect the safety for our clients, we do criminal checks on all our employees and we choose the best and ethical employees into our workforce.</p>
			</div>


			</div>		
</div>




<div class="jumbotron">
	<h3>Market Groups we aim to reach:</h3>
		<li>Schools, universities or colleges</li>
		<li>Large construction companies</li>
		<li>Private or public companies</li>
		<li>Large construction companies</li>
		<li>Property managers</li>
		<li>Real Estate Agents</li>
		<li>Shopping centers</li>
		<li>Shopping malls</li>
		<li>Road agencies</li>
		<li>Home owners</li>
		<li>Tenants</li>
		<li>Estates</li>

</div>

{% endblock %}