{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% block content %}



	<div class="jumbotron" style="text-align: center; background-image: url(/static/img/Project2.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%;">
	<div class='jumbotron' style="background-color: rgba(0, 0, 0, 0.3);">
		  <h1 style="color: white">///&nbsp&nbsp&nbsp&nbsp   We set the standard </h1>
		  <br>
		  <br>
		  <h2 style="color: #FF4500">Delivering Projects in Ways that Can't be Duplicated</h2>

	     <br><br>
		  <p style="color: white">All the time, everytime.</p>

		  <p>
		  	<a class="btn btn-lg" href="service" role="button" style="color: #003366; background-color: #FF4500; color: white;">Group</a>&nbsp&nbsp&nbsp<a class="btn btn-lg" href="contact" role="button" style="color: black; background-color: white; ">Contact now</a>
		  </p>
	</div>
	</div>


<div class='container'>
	<div class="row">
		<div class="col">
		<h2 style="text-align: center; font-family: 'Arial-Narrow';">Overview</h2>
		
		 <p style="text-align: justify;">Intellect Africa Group is a company based in Johannesburg, operating across all nine (9) provinces in South Africa, Southern Africa and beyond. Our main focus is the provision of home improvements, facilities management, road construction and IT services to a broad range of clients.</p>
		</div>
		<div class="col">
		<h2 style="font-family: 'Arial-Narrow';">Four principles of success</h2>
		
		 	<li>Accountability</li>

			<li>Integrity</li>

			<li>Innovative</li>

			<li>Teamwork</li>
		</div>		
</div>
		<hr>

<br>
<div class="container">
	<h1 style="text-align: center;">OUR ENTITIES</h1>
	  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <i style="text-align: center;">Entities working towards one business strategy</i>
    </div>
    <div class="col">
    </div>
  </div>
	
</div>


<div class="jumbotron" style="background-image: url(/static/img/wood.jpeg); background-size: cover; background-repeat: no-repeat; min-height: 100%;">
  <div class="row">
    <div class="col"><a href="http://www.sapaverstilers.co.za/"><img src="/static/img/SAPaversandTilers.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
    </div>
    <div class="col"><img src="/static/img/MliloRoadMarkings.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></div>
    <div class="col"><img src="/static/img/IAGSoftwareDevelopers.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></div>
    <div class="col"><img src="/static/img/IAGConstructionSolutions.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></div>
  </div>

</div>

<br>


<div class="container">
	<h1 style="text-align: center;">OUR SERVICES</h1>
	  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <i style="text-align: center;">Home Improvements | Facilities Management &nbsp&nbsp Road Construction | IT Services</i>
    </div>
    <div class="col">
    </div>
  </div>
	
</div>








 <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
            <div class="card-body">

             <div style="text-align: center;">
              <ul><h4 style="color: #FF4500">Home Improvements</h4></ul>
              <h6><ul>Painting and Waterproofing</ul></h6>
              <h6><ul>General Maintenance</ul></h6>
              <h6><ul>Paving and Tiling</ul></h6>
              <h6><ul>Damp Proofing</ul></h6>
              <h6><ul>Carpentry</ul></h6>
              <h6><ul>Plastering</ul></h6>
              <h6><ul>Plumbing</ul></h6>
              <h6><ul>Flooring</ul></h6>

            </div>
              
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
            <div class="card-body">
            <div style="text-align: center;">
              <ul><h4 style="color: #FF4500">IT Services</h4></ul>
              <h6><ul>Search Engine Optimisation</ul></h6>
              <h6><ul>Social Media Optimisation</h6></ul>
              <h6><ul>Software Development</h6></ul>
              <h6><ul>Digital Marketing</h6></ul>
              <ul><h6>Website Design</h6></ul>
              <h6><ul>Data Analysis</h6></ul>
              <ul><h6>Web Hosting</h6></ul>
              <ul><h6>Mobile Apps</h6></ul>
             </div>
            </div>
          </div>
        </div>







      </div>
    </div>
  </div>






 <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
            <div class="card-body">

             <div style="text-align: center;">
              <ul><h4 style="color: #FF4500">Facilities Management</h4></ul>
              <ul><h6>Maintenance of organisations’ building</h6></ul>
              <ul><h6>Planned preventive maintenance</h6></ul>
              <ul><h6>Fence Installation</h6></ul>
              <ul><h6>Landscaping</h6></ul>
              <ul><h6>Cleaning</h6></ul>

            </div>
              
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="card mb-6 shadow-sm">
            <div class="card-body">
            <div style="text-align: center;">
              <ul><h4 style="color: #FF4500">Road Construction</h4></ul>
              <ul><h6>Asphalt Surfacing</h6></ul>
              <ul><h6>Road Markings</h6></ul>
              <ul><h6>Sandblasting</h6></ul>
              <ul><h6>Traffic Signs</h6></ul>
              <ul><h6>Civil Works</h6></ul>
             </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>



<div class="jumbotron" style="background-image: url(/static/img/Construction24.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%;">
	<div class="row">
		<div class="col">
			<h3 style="color: white;">The Philosophy of Teamwork</h3>
			<p style="color: white; text-align: justify;">As no entity can provide all services to all people, we have close working relationships with other companies in the same business sectors to ensure that where projects requires additional human capital, machinery and ideas; they are made available to meet our clients’ needs. This enabled us to meet our clients’ deadlines and tackle any contracts whether small or big. </p>
			
		</div>

		<div class="col">
			<h2 style="color: white;">The power of synergy</h2>
			<i style="color: white;">2 plus 2 equals 5</i>
			<br>
			</br>
			<a class="btn btn-lg" href="service" role="button" style="color: #003366; background-color: #FF4500; color: white;">Group</a>
			
		</div>
	</div>

</div>



{% endblock %}