{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% block content %}


<div class="container">


	<h1 style="text-align: center;">Our Recent Projects</h1>
	<br>
	
		<div class="row">
		<div class="col">
			<a href=""><img src="/static/img/Project2.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Directional arrows</p>
		</div>


		<div class="col">
			<a href=""><img src="/static/img/Project6.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Island markings</p>			
		</div>




		<div class="col">
			<a href=""><img src="/static/img/Project29.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Long distance road markings</p>			
		</div>
	</div>









		<div class="row">
		<div class="col">
			<a href=""><img src="/static/img/Project16.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Parking bay markings</p>
		</div>


		<div class="col">
			<a href=""><img src="/static/img/Project13.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Parking bay numbering</p>			
		</div>




		<div class="col">
			<a href=""><img src="/static/img/Project15.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Parking bay markings</p>			
		</div>
	</div>





		<div class="row">
		<div class="col">
			<a href=""><img src="/static/img/Project17.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Land excavation</p>
		</div>


		<div class="col">
			<a href=""><img src="/static/img/Project24.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Brick paving</p>			
		</div>




		<div class="col">
			<a href=""><img src="/static/img/Project21.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Residential paving</p>			
		</div>
	</div>






		<div class="row">
		<div class="col">
			<a href=""><img src="/static/img/Construction24.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Cleaning services</p>
		</div>


		<div class="col">
			<a href=""><img src="/static/img/Project18.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Residential paving</p>			
		</div>




		<div class="col">
			<a href=""><img src="/static/img/Project3.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Directional arrows</p>			
		</div>
	</div>








		<div class="row">
		<div class="col">
			<a href=""><img src="/static/img/Project4.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Directional arrows</p>
		</div>


		<div class="col">
			<a href=""><img src="/static/img/Project9.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Estate markings</p>			
		</div>




		<div class="col">
			<a href=""><img src="/static/img/Project7.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Intersection road markings</p>			
		</div>
	</div>





		<div class="row">
		<div class="col">
			<a href=""><img src="/static/img/Project26.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Industrial paving</p>
		</div>


		<div class="col">
			<a href=""><img src="/static/img/Project25.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Signage installation</p>			
		</div>




		<div class="col">
			<a href=""><img src="/static/img/Project29.jpg" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br>
			<p style="text-align: center;">Long distance road markings</p>			
		</div>
	</div>






</div>


{% endblock %}