{% extends 'index.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron" style="text-align: center; background-image: url(/static/img/Project12.jpg); background-size: cover; background-repeat: no-repeat; min-height: 100%;">
	<br><br><br><br>
	<h1 style="color: red;">Group</h1>
	<br><br>
	<br><br>
	<br><br>
</div>


<div class="container">
	<h1 style="text-align: center;">OUR ENTITIES</h1>
	  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <i style="text-align: center;">Entities working towards one business strategy</i>
    </div>
    <div class="col">
    </div>
  </div>	
</div>


<br><br><br>

<div class="container">


	<div class="row">
		<div class="col">
			<a href="http://www.iagcs.co.za/"><img src="/static/img/IAGConstructionSolutions.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br><br>
			<p>IAG Construction Solutions specialises in home improvements</p>
		</div>


		<div class="col">
			<a href="#"><img src="/static/img/MliloRoadMarkings.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br><br>
			<p>The Mlilo Road Markings specialises in road markings and signage installation</p>			
		</div>
	</div>


<br><br><br>


		<div class="row">
		<div class="col">
			<a href="http://www.sapaverstilers.co.za/"><img src="/static/img/SAPaversandTilers.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br><br>
			<p>SA Pavers and Tilers specialises in tiling, asphalt surfacing and paving</p>
		</div>


		<div class="col">
			<a href="#"><img src="/static/img/IAGSoftwareDevelopers.png" alt="photo" class="img-thumbnail" style="height: 150px; width: 300px; align-self: center;"/></a>
			<br><br>
			<p>IAG Software Developers specialises in the provision of IT services</p>			
		</div>


	</div>	
</div>





{% endblock %}